
Form{
    margin-bottom:10px;
    margin-left:10px;
}
.Table {
    height: 100%;
    
}
.col-btn>button{
   width: 100px; 
}
#linkToCreate{
    float:right;
    margin-right:14%;
    margin-bottom:10px;
    width:30%;
    color: snow;
    text-decoration: none;
}
tr td{
    text-align: center;
}
thead {
    background-color: lightcyan;
    text-align:center;
}
tbody {
    overflow-y: scroll;
    max-height: 800px;
    background-color: snow;
}
.td-actions-buttons{
    width:30%;
    text-align:center;
}
.td-lp{
    width:1%;
}
.correctDate{
    background-color:lightgreen;
}
.uncorrectDate {
    background-color: lightcoral;
}
.my-custom-scrollbar {
    position: relative;
    height: 800px;
    width:100%;
    overflow: auto;
}
.table-wrapper-scroll-y {
    display: block;
}